Django==6.1.1
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
psycopg==3.3.6
psycopg-binary==3.3.6
PyJWT==2.14.0
asgiref==3.12.1
sqlparse==0.6.0
dj-database-url==2.2.0
whitenoise==6.7.0
